@import "./reset";
@import "./vars";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

html,
body {
  transition: background-color 0.45s;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0, 5px;

  // Theme color //
  background-color: var(--page-bg);
  color: var(--text-color);
}

// font-family: 'Poppins', sans-serif;

// Dark theme //

.dark {
  transition: background-color, color 0.45s ease-in;
  --page-bg: var(--gray-color);
  --text-color: var(--white-color);
  --title-1: var(--white-color);
  --project-card-text: var(--white-color);
  --project-card-bg: var(--black-color);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
  --header-bg: var(--black-color);
  --header-logo: (--white-color);
  --about-svg: var(--white-color);
  --about-text: var(--about-text);
  --about-span: var(--accent-color);
  --about-border: var(none);
  --about-bg: var(--accent-color);
  --about-btn: var(--white-color);
  --about-hover: var(--purple-color);
  --footer-icon: var(--white-color);
  --border-line: var(--darkness-color);
}

// container //

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.container--about {
  padding: 15px;
  max-width: 660px;
}
.about__svg {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 0;
  stop {
    stop-color: var(--about-svg);
    opacity: 1;
  }
  @media (max-width: 620px) {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 0;
  }
}

// Logo //

.logo {
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: var(--header-logo);
  strong {
    font-weight: 700;
  }
}

// Btn //

.circle {
  position: absolute;
  top: 20px;
  left: 70px;
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: var(--about-hover);

  transition: all 0.5s ease-Out;
}

.btn:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}
.btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  height: 48px;
  padding: 12px 28px;
  background: var(--about-bg);
  border-radius: 5px;
  border: 1px solid var(--about-border);
  letter-spacing: 0.15px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: var(--about-btn);
  transition-property: all;
  transition: background 0.3s ease-in-out;
  z-index: 2;
  a {
    position: relative;
    transition: all 0.45s ease-Out;
  }
  &:hover {
    background: var(--about-hover);
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

// Btn-outline //

.btn-outline {
  display: flex;
  column-gap: 10px;
  align-items: center;
  height: 48px;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  color: var(--dark-color);
  transition-property: all;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;

  &:hover {
    background-color: #c0c0c0;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

// Dark mode //

.dark-mode-btn {
  order: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 51px;
  height: 26px;
  padding: 5px;
  background-color: #272727;
  border-radius: 50px;

  @media (max-width: 620px) {
    order: 0;
  }

  &__icon {
    width: 16px;
    height: 16px;
    z-index: 1;
  }
  &::before {
    position: absolute;
    top: 1px;
    left: 1px;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--white-color);
    z-index: 0;
    transition: left 0.2s ease-in;
  }
}

.dark-mode-btn--active::before {
  left: 26px;
}

// General styles for Projects //

.section {
  padding: 70px 0;
  @media (max-width: 620px) {
    padding: 40px 0;
  }
}

.section--main {
  border-top: 1px solid var(--border-line);
}

.title-1 {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  text-align: center;
  color: var(--title-1);
  @media (max-width: 620px) {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

.title-2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  @media (max-width: 620px) {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

// Header //

.header {
  &__nav {
    font-family: "Poppins", sans-serif;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-line);
    background: var(--header-bg);
    color: var(--white-color);
    letter-spacing: normal;
  }

  &__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
    @media (max-width: 620px) {
      justify-content: space-between;
    }
  }
}

.header-nav {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    color: var(--header-logo);
  }
}
.header-nav-list {
  &__link--active {
    position: relative;
    &:before {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      transition-property: all;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      height: 3px;
      width: 100%;
      background: var(--accent-color);
    }
  }
}

.header-nav-list__link--active:hover:before {
  opacity: 1;
}

// About //

.about {
  position: relative;
  min-height: 695px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  z-index: 9;
  @media (max-width: 620px) {
    min-height: unset;
  }

  &__title {
    position: relative;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    color: var(--about-text);
    z-index: 1;
    @media (max-width: 620px) {
      font-size: 30px;
    }
    strong {
      font-size: 60px;
      font-weight: 700;
      z-index: 100;
      @media (max-width: 620px) {
        font-size: 40px;
        z-index: 100;
      }
    }

    span {
      color: var(--about-span);
    }
  }

  &__text {
    position: relative;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.333;
    z-index: 2;
    color: var(--about-text);
    P + p {
      margin-top: 1em;
    }
  }
}

// Projects //

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.project {
  max-width: 370px;
  background-color: var(--project-card-bg);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  &:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }
  &:active {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  &__img {
    border-radius: 10px;
  }

  &__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--project-card-text);
    @media (max-width: 620px) {
      font-size: 22px;
    }
  }
}

// Project details //

.project-details {
  margin: 0 auto;
  max-width: 865px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__cover {
    cursor: pointer;
    max-width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    }
    &:active {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }
  }

  &__descr {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    @media (max-width: 620px) {
      font-size: 22px;
    }
  }
}

// Footer //

.footer {
  margin-top: auto;
  padding: 60px 0 50px;
  background-color: var(--header-bg);
  border-top: 1px solid var(--border-line);
  color: var(--white-color);
  @media (max-width: 620px) {
    padding: 35px 0 25px;
  }
  &__svg {
    fill: var(--footer-icon);
    transition-property: fill;
    transition: fill 0.3s ease-in-out;
  }
  &__svg--icon1:hover {
    fill: #2377ff;
  }
  &__svg--inst:hover {
    fill: #db2d7a;
  }
  &__svg--tw:hover {
    fill: #2377ff;
  }
  &__svg--github:hover {
    fill: grey;
  }
  &__svg--in:hover {
    fill: #1b659f;
  }
  &__social {
    display: flex;
    column-gap: 30px;
    align-items: center;
    @media (max-width: 620px) {
      column-gap: 20px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
    @media (max-width: 620px) {
      row-gap: 27px;
    }
  }
}

.footer-copyright {
  &__text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--about-text);
    p + p {
      margin-top: 0.5em;
    }
  }
}

// Skills ( content list ) //

.content-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  text-align: center;
  @media (max-width: 620px) {
    row-gap: 20px;
  }
  &__item {
    font-size: 18px;
    line-height: 1.5;
    @media (max-width: 620px) {
      font-size: 16px;
    }
    p {
      margin-top: 20px;
    }
  }
}

@media (max-width: 620px) {
  .footer-social__item {
    width: 28px;
  }
}
